@use '../../Style/ImportStyle.scss' as import;

.Header {
    width: 100%;
    height: 50px;
    margin-top: 45px;

    .Header__container {
        max-width: calc(100vw - 90px);
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
    }

    .Header__nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        visibility:hidden;
        .Header__nav--container {
            transform: translateX(-100%);
            animation:closeNav 0.5s ;
        }
    }

    .active {
        visibility:visible;
        .Header__nav--container {
            width: 15vw;
            max-width: 400px;
            height: 100vh;
            background-color: #222222;
            padding: 18px;
            transform: translateX(0%);
            animation:openNav 0.5s ;
        }
    }
}
@keyframes openNav {
    from {
        transform: translateX(-100%);
      }
    
      to {
        transform: translateX(0%);
      }
}
@keyframes closeNav {
    from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(-100%);
      }
}
.Burger__close--container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.Burger__close{
    position: relative;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &::before,
    &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 2.14px;
        background-color: rgb(255, 255, 255);
        border-radius: 1px;
    }

    &::before {
        top: 5px;
        transform: rotate(45deg);
    }

    &::after {
        bottom: 6px;
        transform: rotate(-45deg);
    }
}
.Header__nav--list {
    padding: 20% 0;
    .Header__nav--items {
        display: flex;
        flex-direction: column;
        align-items: center;

        .Header__nav--item {
            @include import.WorkSansLight(20px, #FFFFFF);
            margin: 2px 0;
            cursor: pointer;
        }
    }
}

.Burger {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #222222;
        top: 10px;
        border-radius: 2px;
    }

    &::before,
    &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #222222;
        border-radius: 2px;
    }
    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}