@use '../../Style/ImportStyle.scss' as import;

.Testimonials {
    height: 70vh;
    display: flex;
    align-items: center;
    &--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100vw - 15%);
        margin: 0 auto;
        .Testimonials__title {
            width: 30%;
            display: flex;
            justify-content: center;
            &--style {
                @include import.WorkSansMedium(48px, #222222)
            }
        }

        .Testimonials--content {
            width: 560px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 75px;
            .Testimonials--item {
                margin: 0 0 62px 0;
            }
        }

    }
}